@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

.screen-minus-header {
    min-height: calc(100vh - 88px);
}

.screen-minus-dashboard-header {
    min-height: calc(100vh - 70px);
    margin-top: 70px;
}

[x-cloak] { display: none !important; }


